#container{
  margin: auto;
  width: 980px;
  height: 980px;
  position: relative;
  margin-left: 20%;
}
h1{
  margin-left: 35%;
  font-family: Verdana;

}

.squarescontainer{
  height: 960px;
  width: 960px;
  background: gray;
  padding: 4px;
  margin-top: 5px;
}

.square{
display: inline;
float: left;
margin:1px;

}

#button{
  display:inline-block;
  margin-left: 20%;
  width: 99%;
  margin-bottom: 2px;
  font-weight: bold;
}

button{
  height: 40px;
  width: 90px;
  margin: 3px;

}

html{
  background: linear-gradient(white,gray);
}
